

html {
    all:unset;
    background: white;
    display: flex;
}

body {
    margin: auto !important;
}

h1 {
    display:  flex;
    flex-direction: column;
    margin: auto;
    content: '!! RESIST THE MATRIX !!';
    text-align: center;
    font-size: 100px;
    width: 100%;
    height: 100px;
    padding: 15px 0;
    /* background-image: url("https://thumbs.gfycat.com/FamousAshamedImperialeagle-size_restricted.gif");
    background-repeat: no-repeat, repeat;
    background-position: center; */
} 

#quote {
    display:  flex;
    margin: auto;
    text-align: center;
    font-size: 30px;
    width: 78%;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 0;
}

#image  {
    display: flex;
    margin: auto;
    text-align: center;
}

#imageDiv {
    width: 50%;
    margin: 0 auto;
}

#embed {
    display: flex;
    margin: auto;
    text-align: center;
}

br {
    height: 50px;
}
  
 /* html::before {
    display:  flex;
    flex-direction: column;
    margin: auto;
    content: '!! RESIST THE MATRIX !!';
    text-align: center;
    font-size: 100px;
    width: 100%;
    height: 500px;
    background-image: url("https://thumbs.gfycat.com/FamousAshamedImperialeagle-size_restricted.gif");
    background-repeat: no-repeat, repeat;
    background-position: center;
}  */

 /* body {
    display: none !important;
}   */



